body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.container {
  width: auto;
  height: auto;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#block {
  padding: 20em;
  background-color: #ffffff;
}
